:root{

    --sidebar-width:340px;

    --primary:#00a884;
    --primary-dark:#008069;

    --background:#111b21;

    --sidebar:#202c33;

    --conversation:#0b141a;

    --header:#202c33;

    --message-out:#005c4b;

    --message-in:#202c33;

    --border:#2a3942;

    --text:#e9edef;

    --text-secondary:#8696a0;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:var(--background);

    color:var(--text);

    font-family:

        "Segoe UI",
        Arial,
        Helvetica,
        sans-serif;

}
